# Ignore virtual environments
venv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore environment variables
.env

# Ignore logs
*.log

# Ignore VS Code settings
.vscode/

# Ignore macOS system files (if using mac)
.DS_Store
