<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/mainpage.css') }}">
  </head>
  <body>
    <h1>Top 100 Players Rankings</h1>

    <div class="player-list">
      {% for player in players %}
        <div class="player-card">
          <img src="https://ui-avatars.com/api/?name={{ player.Player | replace(' ', '+') }}" class="player-img" />
          <div class="player-info">
            <h3>{{ player.Rank }}. {{ player.Player }} | {{player.Height}}</h3>
            <p>{{ player.Team }} – {{ player.Year }}</p>
            <p>KenPom Rating: {{ "%.3f"|format(player["KPOY Rating"]) }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
